@inject HttpClient HttpClient

<div class="main-content">
    <div class="search-bar">
        <div>
            文字数&nbsp;
            <select @onchange="InputSelectChanged">
                @for (int i = 1; i <= 10; ++i) {
                    if (i == WordLength) {
                        <option value="@i" selected>@i.ToString()</option>
                    } else {
                        <option value="@i">@i.ToString()</option>
                    }
                }
            </select>
        </div>
        <div class="board-container">
            <WordLetterPanels @ref="WordLetterPanels" PanelCount="@WordLength"
                              MaxWidth="350" MaxHeight="75"
                              OnLetterPanelClick="WordLetterPanelClicked"/>
        </div>
    </div>

    <VirtualKeyboard @ref="@Keyboard" OnClickKey="KeyboardKeyClicked"/>
    <WordTable @ref="WordTable"/>
</div>

@code {
    private async Task InputSelectChanged(ChangeEventArgs inArgs)
    {
        WordLength = int.Parse((string)inArgs.Value);
        await Task.Yield();
    }
}
