<div class="keyboard">
    <div class="row">
        @foreach (char letter in "qwertyuiop") {
            <VirtualKeyboardKey Parent="@this" Letter="@letter" OnClick="ClickKey" />
        }
    </div>
    <div class="row">
        <div class="spacer-half"/>
        @foreach (char letter in "asdfghjkl") {
            <VirtualKeyboardKey Parent="@this" Letter="@letter" OnClick="ClickKey" />
        }
        <div class="spacer-half"/>
    </div>
    <div class="row">
        <VirtualKeyboardEnterKey Parent="@this" OnClick="ClickKey" />
        @foreach (char letter in "zxcvbnm") {
            <VirtualKeyboardKey Parent="@this" Letter="@letter" OnClick="ClickKey" />
        }
        <VirtualKeyboardDeleteKey Parent="@this" OnClick="ClickKey" />
    </div>
</div>

@code {
    
}
